/* Set background color for the entire page */
body {
  background-color: rgb(52, 53, 64);
  color: rgb(201, 208, 214);
}

/* Styling for the logo image and title */
.logo-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.logo-img-div img {
  width: 4rem;
  height: 4rem;
}

.logo-img-div h2 {
  color: white;
}

/* Response div */
.response {
  margin: 0 1rem;
}
/* Error message  */
.error-message {
  margin: 0 1rem;
  color: crimson;
  text-shadow: 0 0 10px rgba(220, 20, 60, 0.5);
}

/* Styling for the chatbot container */
.chatbot-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

/* Styling for suggestion buttons */
.suggestion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-fill-available;
  gap: 1rem;
}

.suggestion p {
  border: 0.5px solid #d9d9e3;
  padding: 0.75rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 17rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
}

.suggestion p:hover {
  transition: 0.2s;
  background-color: rgba(145, 145, 145, 0.647);
}

/* Styling for the question input section */
input {
  width: -webkit-fill-available;
  padding: 0.75rem;
  margin-bottom: 10px;
  font-size: 0.875rem;
  border-radius: 0.5rem;
  border: 0.5px solid #d9d9e3;
  color: rgb(201, 208, 214);
  outline: none;
  background-color: rgb(52, 53, 64);
}

/* Styling for additional information text */
.chatbot-container span {
  margin: 0 0 0.5rem 0;
  font-size: small;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Styling for the button container */
.input-btn-div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 0.5rem;
}

/* Styling for the 'Ask' button */
.ask-button {
  padding: 0.75rem;
  background-color: cadetblue;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* Hover effect for the 'Ask' button */
.ask-button:hover {
  transition: 0.5s;
  background-color: rgb(75, 144, 146);
}
